<?xml version="1.0"?>

<model>
  <name>Kobuki with laser</name>
  <version>1.0</version>
  <sdf version="1.6">kobuki.sdf</sdf>

  <author>
    <name>Taehun Lim(Darby)</name>
    <email>thlim@robotis.com</email>
  </author>

  <description>
    Kobuki base with Hokuyo laser
  </description>
</model>
